<h1>Guessing Game</h1>

<% if @message %>
  <p><%= @message %></p>
<% end %>

<form action="/games/play" method="post">
  <label for="guess">Enter your guess:</label>
  <input type="number" id="guess" name="guess" required>
  <input type="submit" value="Submit">
</form>
